*{
    margin: 0;
}
body{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between;*/
    min-height: 90vh;
    background-color: rgba(162,233,255,0.37);
}
body h2{
    background-color: cyan;
    min-width: 700px;
    text-align: center;
}
header{
    text-align: center;
    background-color: cyan;
    min-width: 700px;
}
header h1{
    margin: 15px;
}
.msg{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.author{
    font-size: 14px;
    font-style: italic;

}
.date{
    color: rgb(118,120,113);
    font-size: 12px;
}
div#messages{
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 700px;
    margin: 0 10px 0;
    font-size: 17px;
    background: linear-gradient(to top, #2b2b2b, cyan);
}
div#messages div{
    margin: 12px;
}
div#char{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
div.msg{
    background-color: white;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black;
}
footer div#copy_rights a{
    text-decoration: none;
    color: black;
}
form[name='msg_create']{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-height: 200px;
}

form textarea{
    min-height: 120px;
    max-height: 220px;
    min-width: 450px;
    max-width: 500px;
    margin: 10px;
}

form input{
    max-width: 7vw;
    margin-left: 9vw;
}